* {
	padding: 0;
	margin: 0;
}

h1 {
	padding: 20px;
	font-family: Arial;
}

h3 {
	font-size: 20px;
	background-color: red;
	color: white;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}

body {
	background-color: black;
	color: white;
	font-family: Arial;
	text-align: center;
}

.img-container {
	margin: auto;
	padding: 30px;
	background-color: red;
	color: black;
}

.roy-image {
	object-fit: contain;
	border-radius: 10px;
	max-width: 100%;
	display: block;
	height: auto;
	margin: auto;
}

.caption {
	padding-top: 5px;
}

.life {
	text-align: left;
	font-family: Arial;
	padding: 30px 70px;
	max-width: 600px;
	margin: 10px auto;
	background-color: red;
}

.life-header {
	text-align: center;
	font-size: 20px;
	font-family: Arial;
	padding: 30px;
	color: black;
}

.bold {
	font-weight: bold;
	font-family: Arial;
}

.quote {
	margin: 30px 30px 5px;
	color: black;
	font-stle: Italic;
}

.quote-author {
	text-indent: 30px;
	color: black;
}

li {
	margin: 20px;
}

a {
	color: white;
}